<div class="ui raised container segment">
  <h2 class="ui header">
    {{title}}
  </h2>

 <div class="ui container">

   <button *ngIf="!hasValidAccessToken()" class="ui positive button left" (click)="login()">
     Login
   </button>
   <button *ngIf="hasValidAccessToken()" class="ui positive button floating right" (click)="logoff()">
     Logout
   </button>
 </div>

 <div class="ui divider"></div>

 <app-hello-demo [oauthService]="oauthService"></app-hello-demo>

  <div class="ui divider"></div>

  <app-meetings-demo></app-meetings-demo>

</div>
